<%- include("header") -%>

<body>

  <div class="box" id="heading">
    <h1>
      Split The Bill
    </h1>
  </div>


  <table class="centre">
    <tr>

      <td>

        <div class="box" id="mostleft">
          <p>
            <strong>Description</strong>
          </p>
          <% for(var i = 0; i < DesItems.length; i++){ %>
          <div class="item">

            <p>
              <%= DesItems[i] %>
            </p>
          </div>
          <% } %>


        </div>
      </td>

      <td>
        <div class="box">
          <p>
            <strong>Amount</strong>
          </p>
          <% for(var i = 0; i < AmountItems.length; i++){ %>
          <div class="item">

            <p>
              <%= AmountItems[i] %> Rs
            </p>
          </div>
          <% } %>


        </div>
      </td>

      <td>
        <div class="box">
          <p>
            <strong>Number of Persons</strong>
          </p>
          <% for(var i = 0; i < PeopleItems.length; i++){ %>
          <div class="item">

            <p>
              <%= PeopleItems[i] %>
            </p>
          </div>
          <% } %>


        </div>
      </td>
      <td>
        <div class="box">
          <p>
            <strong>Individual</strong>
          </p>
          <% for(var i = 0; i < PerItems.length; i++){ %>
          <div class="item">

            <p>
              <%= PerItems[i] %> Rs
            </p>
          </div>
          <% } %>


        </div>
      </td>
    </tr>



    <tr>
      <form class="item" action="/" method="post">
        <td>
          <div class="box">

            <input type="text" name="newDescription" placeholder="Description" autocomplete="off">

          </div>
        </td>



        <td>
          <div class="box">

            <input type="number" name="newAmount" placeholder="Amount" autocomplete="off">

          </div>
        </td>

        <td>

          <div class="box">
            <input type="number" name="newFreq" placeholder="No of Persons" autocomplete="off">
            <button type="submit" name="listSubmit" value="pay"> + </button>

          </div>
        </td>

      </form>
    </tr>
  </table>







</body>

<%- include("footer") -%>
